<div class="container-fluid">
	<div class="row-fluid">
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="col-md-8 col-lg-8">
			<div class="tabbable tabs-left" >
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="achievement in Achievements" class="panel panel-primary">
						<div>
							<div class="panel-heading bg-primary">
								<span class="panel-title">模板条目</span>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px" ng-show="template.status == 1" ng-click="delete(template.id)">删除</button>
							</div>
							<a type="button" class="btn btn-default" style="display: block;text-align: left;border-top-right-radius:0;border-top-left-radius:0;" href="#/dashboard/achievementManagement/achievementList/{{achievement.id}}" ng-disabled="achievement.status !== 1">
								<h3>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
									{{achievement.name}}
								</h3>
							</a>
						</div>
					</li>
					<li>
						<button type="button" class="btn btn-lg btn-block btn-primary" ng-click="new()">新增绩效条目</button>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="col-md-4 col-lg-4">
			<div class="panel panel-primary"> 
				<div class="panel-heading"> 
					<h3 class="panel-title">历史绩效条目</h3> 
				</div> 
				<div class="panel-body">
					<table class="table"> 
						<tr>
							<th>开始时间</th>
							<th>任务名称</th> 
							<th></th> 
						</tr> 
						<tr ng-repeat="achievement in Achievements" ng-show="achievement.status == 5">
							<td>{{achievement.startTime | date:'yyyy-MM-dd'}}</td>
							<td>{{achievement.name}}</td> 
							<td><a href="">详细</a></td>
						</tr>
					</table>
				</div> 
			</div>
		</div> -->
	</div>
</div>