<div class="container-fluid">
	<div class="row-fluid">
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="col-md-8 col-lg-8">
			<div class="tabbable tabs-left" >
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="instance in Instances" class="panel panel-primary">
						<div>
							<div class="panel-heading bg-primary">
								<span class="panel-title">实例</span>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px" ng-click="notPassAudit(instance.id)" ng-show="instance.status==2">驳回</button>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px" ng-click="passAudit(instance.id)" ng-show="instance.status==2">通过审核</button>
							</div>
							<a type="button" class="btn btn-default" style="display: block;text-align: left;border-top-right-radius:0;border-top-left-radius:0;" href="#/dashboard/checkManagement/{{templateId}}/{{instance.id}}">
								<h3>
									{{instance.assessName}}
									<span class="pull-right" ng-show="instance.status==3">已通过审核</span>
								</h3>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>