<div class="container-fluid">
	<div class="row-fluid">
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="col-md-4 col-lg-4" ng-repeat="list in Grades">
			<div class="tabbable tabs-left" >
				<ul class="nav nav-pills nav-stacked">
					<li  class="panel panel-primary">
						<div>
							<div class="panel-heading bg-primary">
								<span class="panel-title">待评项目</span>
								<span class="pull-right"> 待评人：{{list.name}}</span>
							</div>
							<div>
								<a type="button" class="btn btn-default" style="display:block;text-align: left;margin: 10px;" href="#/dashboard/gradeManagement/{{grade.id}}" ng-repeat="grade in list.taskList">
									<h4>
										<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										{{grade.title}}
										<span class="pull-right">开始评价</span>
									</h4>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>