<div class="col-md-12 col-lg-12">
	<div class="panel panel-primary"> 
		<div class="panel-heading"> 
			<h3 class="panel-title">查询绩效报表</h3> 
		</div> 
		<div class="panel-body">
			<table class="table"> 
				<tr>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>任务名称</th> 
					<th>操作</th> 
				</tr> 
				<tr ng-repeat="template in Templates">
					<td>{{template.startTime | date:'yyyy-MM-dd'}}</td>
					<td>{{template.endTime | date:'yyyy-MM-dd'}}</td>
					<td>{{template.name}}</td> 
					<td><a type="button" class="btn btn-sm" ng-click="getInstance(template.id)" style="line-height:1" href="#/dashboard/report/{{template.id}}">查询</a></td>
				</tr>
			</table>
		</div> 
	</div>
</div>