<div class="col-md-10 col-lg-10">
	<div class="panel panel-primary"> 
		<div class="panel-heading"> 
			<h3 class="panel-title">查询绩效报表</h3> 
		</div> 
		<div>
			<table class="table"> 
				<tr>
					<th>考核人姓名</th>
					<th>价值观A占比</th> 
					<th>价值观B占比</th> 
					<th>价值观C占比</th> 
					<th>绩效平均分</th>
					<th>评价值观分</th>
					<th>评绩效分</th>
					<th>操作</th>
				</tr> 
				<tr ng-repeat="reportform in reportForms">
					<td>{{reportform.assessName}}</td>
					<td>{{reportform.conceptScoreAAvg}}</td> 
					<td>{{reportform.conceptScoreBAvg}}</td> 
					<td>{{reportform.conceptScoreCAvg}}</td> 
					<td>{{reportform.scoreAvg}}</td> 
					<th>
						<select class="form-control underline" ng-model="reportform.score" ng-options="score.value as score.name for score in scoreOptions ">
						</select>
					</th>
					<th>
						<select class="form-control underline" ng-model="reportform.conceptScore" ng-options="conceptScore.value as conceptScore.name for conceptScore in conceptScoreOptions">
						</select>
					</th>
					<th><button type="button" class="btn btn-sm" ng-click="update(reportform)" style="line-height:1">提交评分</button></th>
				</tr>
			</table>
		</div> 
	</div>
</div>