<div class="container-fluid">
	<div class="row-fluid">
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="col-md-8 col-lg-8">
			<div class="tabbable tabs-left" >
				<ul class="nav nav-pills nav-stacked">
					<li style="margin-bottom: 20px;">
						<button type="button" class="btn btn-lg btn-block btn-primary" ng-click="new()">新增模板条目</button>
					</li>
					<li ng-repeat="template in Templates" class="panel panel-primary">
						<div>
							<div class="panel-heading bg-primary">
								<span class="panel-title">季度模板条目</span>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px" ng-show="template.status==1" ng-click="delete(template.id)">删除</button>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px" ng-show="template.status==1" ng-click="create(template.id)">生成</button>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px" ng-show="template.status==2" ng-click="startGrade(template.id)">开始评分</button>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px" ng-show="template.status==3" ng-click="overGrade(template.id)">结束评分</button>
								<button type="button" class="btn btn-primary pull-right" style="border: 0;padding: 0 3px"  ng-show="template.status==4" ng-click="endPerformance(template.id)">结束绩效</button>
							</div>
							<a type="button" class="btn btn-default" style="display: block;text-align: left;border-top-right-radius:0;border-top-left-radius:0;" href="#/dashboard/templateManagement/{{template.id}}" ng-disabled="template.status !==0 ">
								<h3>
									{{template.name}}
								</h3>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="panel panel-primary"> 
				<div class="panel-heading"> 
					<h3 class="panel-title">待审核绩效条目</h3> 
				</div> 
				<div class="panel-body">
					<table class="table"> 
						<tr ng-repeat="template in Templates" ng-show="template.status==1||template.status==2">
							<td>{{template.startTime | date:'yyyy-MM-dd'}}</td>
							<td>{{template.name}}</td> 
							<td><a href="#/dashboard/checkManagement/{{template.id}}">开始审核</a></td>
						</tr> 
					</table>
				</div> 
			</div>
		</div>
	</div>
</div>