<div class="container-fluid"> 
	<div class="row-fluid"> 
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="col-md-8"> 
			<div class="panel panel-primary"> 
				<div class="panel-heading"> 
					<h3 class="panel-title">模板条目编辑</h3> 
				</div> 
				<div class="panel-body"> 
					<form class="form-horizontal ng-pristine ng-valid-date ng-valid-required ng-invalid ng-invalid-date-disabled" name="templateForm"novalidate ng-submit="submitForm(templateForm.$valid)"> 
						<div class="form-group" ng-class="{ 'has-error' : templateForm.name.$invalid && !templateForm.name.$pristine }"> 
							<label for="inputtext" class="col-sm-2 control-label">模板条目名</label> 
							<div class="col-sm-10"> 
								<input type="text" class="form-control underline" name="name" ng-model="template.name" required/> 
							</div> 
							<p ng-show="templateForm.name.$invalid && !templateForm.name.$pristine" class="help-block">这个是必填的。</p>
						</div> 
						<div class="form-group"> 
							<label for="inputtext" class="col-sm-2 control-label">部门</label> 
							<div class="col-sm-10"> 
								<select class="form-control underline">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div> 
						</div> 
						<div class="form-group" ng-class="{ 'has-error': templateForm.ownerUid.$invalid && !templateForm.ownerUid.$pristine }"> 
							<label for="inputtext" class="col-sm-2 control-label">责任人</label> 
							<div class="col-sm-10"> 
								<input type="text" class="form-control underline" name="ownerUid" ng-model="template.ownerUid" required placeholder="输入人名搜索" />
								<p ng-show="templateForm.ownerUid.$invalid && !templateForm.ownerUid.$pristine" class="help-block">这个是必填的。</p>
							</div> 
						</div> 
						<div class="form-group" ng-class="{ 'has-error':templateForm.statisticsUid.$invalid && !templateForm.statisticsUid.$pristine }"> 
							<label for="inputtext" class="col-sm-2 control-label">统计人</label> 
							<div class="col-sm-10"> 
								<input type="text" class="form-control underline" name="statisticsUid" ng-model="template.statisticsUid" required placeholder="输入人名搜索"/> 
								<p ng-show="templateForm.statisticsUid.$invalid && !templateForm.statisticsUid.$pristine" class="help-block">这个是必填的。</p>
							</div> 
						</div> 
						<div class="form-group" ng-class="{ 'has-error' : templateForm.startTime.$invalid && !templateForm.startTime.$pristine }"> 
							<label for="inputtext" class="col-sm-2 control-label">绩效开始时间</label> 
							<div class="col-sm-10"> 							
								<input type="text" class="form-control underline" name="startTime" ng-model="template.startTime" required pick-a-date="date" pick-a-date-options="options" placeholder="点选日期"/> 
								<p ng-show="templateForm.startTime.$invalid && !templateForm.startTime.$pristine" class="help-block">这个是必填的。</p>
							</div> 
						</div> 
						<div class="form-group" ng-class="{ 'has-error' : templateForm.endTime.$invalid && !templateForm.endTime.$pristine }"> 
							<label for="inputtext" class="col-sm-2 control-label">绩效结束时间</label> 
							<div class="col-sm-10"> 								
								<input type="text" class="form-control underline" name="endTime" ng-model="template.endTime" pick-a-date="date" pick-a-date-options="options" placeholder="点选日期"/> 
								<p ng-show="templateForm.endTime.$invalid && !templateForm.endTime.$pristine" class="help-block">这个是必填的。</p>
							</div> 
						</div> 
						<div class="row">
							<label for="inputtext" class="col-sm-2 control-label">操作</label>
							<div class="col-sm-10">  
								<button type="submit" class="btn btn-primary  btn-rounded" ng-disabled="templateForm.$invalid">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" style="border-radius: 10px;">
		<div class="panel panel-primary"> 
			<div class="panel-heading"> 
				<h3 class="panel-title">价值观标准：</h3> 
			</div> 
			<ol style="margin-top: 10px;">
				<li class="text-primary">
					<p>有owner意识，我的事情就是我的事情</p>
				</li>
				<li class="text-success">
					<p>做事情积极主动，如果事情挡在某一个位置，不要等待，积极推动事情向前</p>
				</li>
				<li class="text-info">
					<p>善于补位，当团队里同学有困难的时候，可以援助一下</p>
				</li>
				<li class="text-warning">
					<p>不畏惧困难，啃硬骨头，有鄙视困难的决心与勇气</p>
				</li>
				<li class="text-danger">
					<p>有时间观念，今天的事情， 坚决不拖到明天</p>
				</li>
				<li class="text-primary">
					<p>团队合作很愉快，可以用自己的专业知识， 补全别的同学在方案上的漏洞，等等</p>
				</li>
			</ol>
		</div>
	</div>
</div>
</div>